<ion-view style="background-color: #f5f6fa;/* background-image: url('img/login-processes_2.png');  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */">


  <ion-tabs>
    <ion-tab title="Daily">
      <ion-tab-content>
        <ion-content class="padding">
          <ion-list class="list">
            <ion-item ng-repeat="item in sales" ng-show="sales.length">
              <h2>{{item.title}}</h2>
              <p>{{item.description}}</p>
            </ion-item>
            <ion-item ng-hide="sales.length" class="text-center">
              No sales.
            </ion-item>

          </ion-list>
        </ion-content>

      </ion-tab-content>
    </ion-tab>
    <ion-tab title="Weekly">
      <ion-tab-content>
        <ion-content class="padding">
          <ion-list class="list">
            <ion-item ng-repeat="item in sales" ng-show="sales.length">
              <h2>{{item.title}}</h2>
              <p>{{item.description}}</p>
            </ion-item>
            <ion-item ng-hide="sales.length" class="text-center">
              No sales.
            </ion-item>

          </ion-list>
        </ion-content>
      </ion-tab-content>
    </ion-tab>
    <ion-tab title="Monthly">
      <ion-tab-content>
        <ion-content class="padding">
          <ion-list class="list">
            <ion-item ng-repeat="item in sales" ng-show="sales.length">
              <h2>{{item.title}}</h2>
              <p>{{item.description}}</p>
            </ion-item>
            <ion-item ng-hide="sales.length" class="text-center">
              No sales.
            </ion-item>

          </ion-list>
        </ion-content>
      </ion-tab-content>
    </ion-tab>
  </ion-tabs>



  <!--<ion-list class="list">
    <ion-item ng-repeat="item in sales" ng-show="sales.length">
      <h2>{{item.title}}</h2>
      <p>{{item.description}}</p>
    </ion-item>
    <ion-item ng-hide="sales.length" class="text-center">
      No sales.
    </ion-item>

  </ion-list>-->


</ion-view>
